.navbar {
  background-color: #fafafa !important;
  display: flex;

  &-brand {
    display: flex;
    padding: 1rem 0;
    .logo {
      width: 60px;
      height: auto;
      margin: 0 auto;
      margin-right: 1rem;
    }

    p {
      text-transform: uppercase;
      font-size: 1rem;
      margin-top: 1rem;
    }
  }
}

.nav-item {
  padding: 0 1rem;
}

.topbar {
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (min-width: 320px) {
  .topbar {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 688px) {
  .topbar {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  .nav-item {
    padding: 0 0.5rem;
  }
}
