.card-group {
  display: flex;
  flex-direction: column;
  height: 60vh;
  overflow: auto;
  position: fixed;
  top: 10rem;
  left: 0;
  z-index: 100;

  .card {
    display: flex;
    flex-direction: column;
    width: 15rem;

    &-text {
      font-size: 1.2rem;
      text-align: center;
      font-weight: 500;
      padding: 0.5rem;

      &:hover,
      &:active {
        color: #4267b1;
        cursor: pointer;
      }
    }
  }
}
