.engagement {
  &-album {
    margin: 1rem;
    width: 200px;

    a {
      color: #000;
      font-size: 0.8rem;
      text-align: center;
      text-transform: uppercase;
      padding: 2rem 1rem;

      &:active,
      &:hover {
        color: #4267b1;
        text-decoration: none;
      }
    }
  }
}
