.map {
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 400px) {
    div:nth-child(2) {
      // visibility: hidden;
      display: none;
    }
  }
}

.marker-camera {
  border: none;
  background: none;

  img {
    width: auto;
    height: 30px;
  }
}

.mapboxgl-popup {
  &-content {
    width: 150px;
  }
  &-close-button {
    font-size: 0.8rem;
    visibility: hidden;
  }
}
