.wedding {
  &-list {
    margin: 1.5rem;

    h3 {
      text-align: center;
      padding: 1rem 0;
      text-transform: uppercase;
      color: #4267b1;
      font-weight: 800;
    }
  }

  &-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 0 2rem;
  }
}
